.header {
  background-color: #fff;
  width: 100%;
  height: 84px;
  box-shadow: 0 1px #0000001a;
}

.headerContainer {
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
}

@media (width<=991px) {
  .headerContainer {
    max-width: 100%;
  }
}

.logoContainer {
  align-items: center;
  display: flex;
}

.logo {
  /* width: 191px;
  height: 50px; */
  /* object-fit: contain; */
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.navLinks {
  align-items: center;
  gap: 22px;
  display: flex;
}

@media (width<=991px) {
  .navLinks {
    gap: 15px;
  }
}

@media (width<=640px) {
  .navLinks {
    display: none;
  }
}

.logoText {
  font-family: "Noto Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
}

.navItem {
  color: #0002af;
  height: 64px;
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  text-decoration: none;
  display: flex;
  align-items: center;
}
